* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("inicio_fondo.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}

#content-holder{
  position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

header {
  position: relative;
  padding-bottom: 0rem;
  padding-top: 0rem;
  height: 3.5555555555555554rem;
}

.nav {
  background-color: rgba(22, 23, 23, 1);
  border-bottom: 1px solid #333333 !important;
}

div.logo {
  position: absolute;
  background: white;
  top: 30%;
  left: 2%;
  height: 24px;
  width: 24px;
}

.right-nav {
  position: relative;
  width: 45%;
  height: 3.5555555555555554rem;
  left: 70%;
  top: 0;
}

.menu {
  position: relative;
  top: 30%;
  width: 100%;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu li a{
  position: relative;
  top: -60%;
  padding-left: 24px;
  padding-right: 25px;
}

a{
  font-family: "europa", sans-serif;
  font-size: 0.6666666666666666rem;
  font-style: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase
}